<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation</title>
</head>
<body>
    <h2>City: <%= city %></h2>
    <% if (crops) { %>
        <h3>Recommended Crops:</h3>
        <p><%= crops %></p>
    <% } else { %>
        <p>No crops found for this weather condition and temperature.</p>
    <% } %>

    
    <a href="/back">Go Back</a>

    <script src="/app.js"></script>

</body>
</html>
