<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <main>
        <h2 class="title">Farming-Assistant</h2>
        <form method="post" action="/">

            <input type="text" id="location" class="location-input" placeholder="Enter city or region" required>
            <button type="button" class="fetch-weather-btn">Get Weather</button>
        
        <section class="weather-info">
            <h2>Weather Details</h2>
            <p class="weather-data"></p>
        </section>
        <button type="submit" id="get-crop-btn">Get Crop Recommendation</button>

    </form>
    </main>
    <p>Last updated: <%= timestamp %></p>

    <script src="/app.js"></script>

</body>
</html>