<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body style="background-color: #4CAF50; ">
    <form method="get" action="/weather" id="intro-form">
    <header class="title">
        <h1 class="appName">FasalForecast</h1>
    </header>
    <main class="intro">
        <p>Discover the weather in your city & choose the right crop for a better yield!</p>
        <button type="submit" class="start">Get Started</button>
    </main>
    </form>
    <script src="/app.js"></script>

</body>
</html>